html {
  font-size: 87.5%;
  font-family: 'Roboto';
  overflow-y: scroll;
  background-color: #fafafa;
}
body {
  margin: 0;
  padding: 0;
}

.sans {
  font-family: 'roboto'
}


/*
  BORDER MODIFER
*/

.ba-none {
  border: none;
}
.ba-none:focus {
  outline: 0;
}
.bl-none {
  border-left: none
}

.bb-only {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
}

/*
  Height
*/

.minh-100vh {
  min-height: 100vh;
}

.Select_arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHBvaW50cz0iMjEsOC41IDEyLDE3LjUgMyw4LjUgIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+);
  background-position: right .4rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
}

.w-640 {
  width: 640px;
}

.elevation {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12)
}
