html {
  font-size: 87.5%;
  font-family: 'Roboto';
  overflow-y: scroll;
  background-color: #fff;
}
body {
  margin: 0;
  padding: 0;
}

.sans {
  font-family: 'roboto'
}


/*
  BORDER MODIFER
*/

.ba-none {
  border: none;
}
.ba-none:focus {
  outline: 0;
}
.bl-none {
  border-left: none
}

/*
  Height
*/

.minh-100vh {
  min-height: 100vh;
}
